# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 4706da3e45e07f031b25ac62d7fc57f4bc9984f3713e5f0b1f8945cdf9296085c3f38628d8aba5e83e607f732b1663152f8cdb9c2cdf1929965162be3adbab31

test:
  secret_key_base: c433b060405464bad2ce117b3fe7225fea03fe7f607e14c0805e7f77166c541698f882ada69ef1ecb7ed8f78f045e966cb04ecdcd6145f9c4032ba7dea19a0fb

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
